[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=%I
Type=forking
ExecStart=/usr/bin/swaylock -i /home/catzhead/pictures/lock.png

[Install]
WantedBy=sleep.target
