URxvt.font:	 xft:Inconsolata:size=11:antialias=true
URxvt.scrollBar: false
URxvt.perl-ext-common: keyboard-select
URxvt.keysym.M-Escape: keyboard-select:activate
URxvt.keyboard-select.clipboard: true
URxvt.letterSpace: -1

!#include ".Xresources.d/.urxvt.green.Xresources"
!#include ".Xresources.d/.urxvt.city.Xresources"
#include ".Xresources.d/.urxvt.grayscale.Xresources"
