URxvt.font:	 xft:Inconsolata:size=12:antialias=true
URxvt.scrollBar: false
URxvt.perl-ext-common: keyboard-select
URxvt.keysym.M-Escape: keyboard-select:activate
URxvt.keyboard-select.clipboard: true
